<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="" *ngIf="!article">
    <ion-card>
      <ion-skeleton-text class="img" animated></ion-skeleton-text>
      <ion-card-header>
        <ion-card-title><ion-skeleton-text animated></ion-skeleton-text></ion-card-title>
        <ion-card-title><ion-skeleton-text animated></ion-skeleton-text></ion-card-title>
      </ion-card-header>
    </ion-card>
  </div>  

  <ion-card>
    <ion-card-header>
      <ion-card-title>Article title {{ article }}</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      
    </ion-card-content>
  </ion-card>

</ion-content>
