<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Articles
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="" *ngIf="!articles">
    <ion-card>
      <ion-skeleton-text class="img" animated></ion-skeleton-text>
      <ion-card-header>
        <ion-card-title><ion-skeleton-text animated></ion-skeleton-text></ion-card-title>
        <ion-card-title><ion-skeleton-text animated></ion-skeleton-text></ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card>
      <ion-skeleton-text class="img" animated></ion-skeleton-text>
      <ion-card-header>
        <ion-card-title><ion-skeleton-text animated></ion-skeleton-text></ion-card-title>
        <ion-card-title><ion-skeleton-text animated></ion-skeleton-text></ion-card-title>
      </ion-card-header>
    </ion-card>
  </div>

 <ion-card [routerLink]="['pages/article-detail', article.id]"  button *ngFor="let article of (articles | async)">
    <ion-card-header>
      <ion-card-title>Title: {{ article.name }}</ion-card-title>
      <ion-card-subtitle>{{ article.category }}</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

 
</ion-content>




