<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Authors
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="" *ngIf="!authors">
    <ion-card>
      <ion-skeleton-text class="img" animated></ion-skeleton-text>
      <ion-card-header>
        <ion-card-title><ion-skeleton-text animated></ion-skeleton-text></ion-card-title>
        <ion-card-title><ion-skeleton-text animated></ion-skeleton-text></ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card>
      <ion-skeleton-text class="img" animated></ion-skeleton-text>
      <ion-card-header>
        <ion-card-title><ion-skeleton-text animated></ion-skeleton-text></ion-card-title>
        <ion-card-title><ion-skeleton-text animated></ion-skeleton-text></ion-card-title>
      </ion-card-header>
    </ion-card>
  </div>

  <ion-card [routerLink]="['pages/author-list', author._id]"  button *ngFor="let author of (authors | async)">
    <ion-card-header>
      <ion-card-title>Author: {{ author.name }}</ion-card-title>
      <ion-card-subtitle>Works: {{ author.articles.length }}</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

</ion-content>
