<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="" *ngIf="!author">
    <ion-card>
      <ion-skeleton-text class="img" animated></ion-skeleton-text>
      <ion-card-header>
        <ion-card-title><ion-skeleton-text animated></ion-skeleton-text></ion-card-title>
        <ion-card-title><ion-skeleton-text animated></ion-skeleton-text></ion-card-title>
      </ion-card-header>
    </ion-card>
  </div>  

  <ion-card>
    <ion-card-header>
      <ion-card-title>Name: {{ author!.name }}</ion-card-title>
     
    </ion-card-header>
   
    <ion-card-content>
      
    </ion-card-content>
  </ion-card>

  <ion-card  *ngFor="let ar of author.articles">
    <ion-card-title>{{ ar.name }}</ion-card-title>
  </ion-card>

</ion-content>
